<div class="homePageTitle">
    <h1>Find Out Everything Aboute Your Students Repos on GitHub</h1>
    <div class="homePageGoButtonDiv">
        <a class="homePageGoButton" href="/student/add">Go!</a>
    </div>
</div>

